@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato.otf);
  src: url(/fonts/Lato.ttf) format("embedded-opentype");
  src: url(/fonts/Lato.woff) format("truetype");
  src: url(/fonts/Lato.woff2) format("woff2");
}
