// ----------------------------------------------------------------
// FONT

@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato.otf);
  src: url(/fonts/Lato.ttf) format("embedded-opentype");
  src: url(/fonts/Lato.woff) format("truetype");
  src: url(/fonts/Lato.woff2) format("woff2");
}

// ----------------------------------------------------------------
// VARIABLES

:root {
  --primary: #5158f6;
  --primary-light: #a5a9f8;
  --primary-low: #cfd1f9;

  --secondary: #f59569;
  --secondary-light: #f6c7b4;

  --muon-gradient: linear-gradient(
    90.01deg,
    #64a3f4 0%,
    #7202f1 18.02%,
    #a728da 41.61%,
    #c5759e 82.53%,
    #f09e5a 105.58%
  );

  --muon-gradient2: linear-gradient(
    135deg,
    rgba(81, 88, 246, 0.17) 0%,
    rgba(130, 45, 245, 0.17) 33.12%,
    rgba(243, 167, 97, 0.17) 100%
  );

  --green: #1ad99d;
  --dark-green: #169f74;

  --gray1: #313144;
  --gray2: #313144;
  --gray5: #58586d;
  --gray6: #68687f;
  --gray7: #88889a;
  --gray8: #a9a9b9;
  --gray9: #e0e0ea;
  --gray10: #e9eff6;
  --gray11: #f2f2f4;
  --white: #f9f9fa;

  --bg: #eff0f5;
}

// -----------------------------------------------
// OVERRIDES

.text-primary {
  color: var(--primary) !important;
}

.text-gray1 {
  color: var(--gray1) !important;
}

.text-gray2 {
  color: var(--gray2) !important;
}

.text-gray5 {
  color: var(--gray5) !important;
}

.text-gray6 {
  color: var(--gray6) !important;
}

.text-gray7 {
  color: var(--gray7) !important;
}

.text-gray8 {
  color: var(--gray8) !important;
}

.text-primary-light {
  color: var(--primary-light) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-primary-low {
  background-color: var(--primary-low) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-gray9 {
  background-color: var(--gray9) !important;
}

.bg-gray10 {
  background-color: var(--gray10) !important;
}

.bg-gray11 {
  background-color: var(--gray11) !important;
}

.bg-gradient2 {
  background: var(--muon-gradient2) !important;
}

// -----------------------------------------------
// GENERAL

* {
  box-sizing: border-box !important;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: initial;
}

body {
  background-color: var(--bg) !important;
  font-family: "Lato" !important;
  overflow-x: hidden;
}

.smaller {
  font-size: 12px;
}

::placeholder {
  font-size: 14px;
}

input:focus,
button:focus {
  box-shadow: none !important;
}

// -----------------------------------------------
// MAIN

main {
  min-height: 100vh;

  header {
    .navbar-toggler {
      &:focus {
        box-shadow: none;
      }
    }
  }

  footer {
    .footer-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    path {
      fill: var(--gray8);
    }
  }

  .app-history {
    .nav-pills {
      .active {
        background-color: var(--gray9);
        color: var(--gray1) !important;
        font-weight: bold;
      }
    }
    .chart-cont {
      height: 12rem;
    }
  }

  .apps-and-reqs {
    .nav-tabs {
      border: none;

      padding: 8px 0;

      .nav-link {
        background-color: transparent;
        border: none;
        color: var(--gray7);
        padding: 10px 0.5rem;
        margin-left: 2rem;

        &.active {
          color: var(--primary);
          font-weight: bold;
        }
      }
    }

    .tab-content {
      background-color: var(--white);
      border-radius: 1rem;

      .pills {
        .nav-link {
          font-size: small;
          padding: 2px 0;

          &.active {
            color: var(--primary) !important;
            background-color: var(--white);
            font-weight: bold;
          }
        }
      }

      .accordion {
        button {
          border-radius: 1rem;
          color: var(--gray2);

          &:after {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2368687f'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
          }
          &:focus {
            box-shadow: none;
          }
        }
      }

      .read-methods {
        .accordion-button {
          background-color: var(--gray10);
        }
        .input-label {
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 0 50rem 50rem 0;
        }
        .btn {
          font-size: small;
          letter-spacing: 0.6px;
        }
      }

      .code{
        p{
          white-space: pre-wrap;
        }
      }

      .reqs {
        .searchbar {
          width: 23rem;

          svg {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
