main {
  min-height: 100vh;

  header {
    .navbar-toggler {
      &:focus {
        box-shadow: none;
      }
    }
  }

  footer {
    .footer-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    path {
      fill: var(--gray8);
    }
  }

  .app-history {
    .nav-pills {
      .active {
        background-color: var(--gray9);
        color: var(--gray1) !important;
        font-weight: bold;
      }
    }
    .chart-cont {
      height: 12rem;
    }
  }

  .apps-and-reqs {
    .nav-tabs {
      border: none;

      padding: 8px 0;

      .nav-link {
        background-color: transparent;
        border: none;
        color: var(--gray7);
        padding: 10px 0.5rem;
        margin-left: 2rem;

        &.active {
          color: var(--primary);
          font-weight: bold;
        }
      }
    }

    .tab-content {
      background-color: var(--white);
      border-radius: 1rem;

      .pills {
        .nav-link {
          font-size: small;
          padding: 2px 0;

          &.active {
            color: var(--primary) !important;
            background-color: var(--white);
            font-weight: bold;
          }
        }
      }

      .accordion {
        button {
          border-radius: 1rem;
          color: var(--gray2);

          &:after {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2368687f'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
          }
          &:focus {
            box-shadow: none;
          }
        }
      }

      .read-methods {
        .accordion-button {
          background-color: var(--gray10);
        }
        .input-label {
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 0 50rem 50rem 0;
          width: 7rem;
        }
        .btn {
          font-size: small;
          letter-spacing: 0.6px;
        }
      }

      .code {
        p {
          white-space: pre-wrap;
        }
      }

      .reqs {
        .searchbar {
          width: 23rem;

          svg {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
