.text-primary {
  color: var(--primary) !important;
}

.text-gray1 {
  color: var(--gray1) !important;
}

.text-gray2 {
  color: var(--gray2) !important;
}

.text-gray5 {
  color: var(--gray5) !important;
}

.text-gray6 {
  color: var(--gray6) !important;
}

.text-gray7 {
  color: var(--gray7) !important;
}

.text-gray8 {
  color: var(--gray8) !important;
}

.text-primary-light {
  color: var(--primary-light) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-primary-low {
  background-color: var(--primary-low) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-gray9 {
  background-color: var(--gray9) !important;
}

.bg-gray10 {
  background-color: var(--gray10) !important;
}

.bg-gray11 {
  background-color: var(--gray11) !important;
}

.bg-gradient2 {
  background: var(--muon-gradient2) !important;
}
