@media only screen and (max-width: 767.98px) {
  main {
    .apps-and-reqs {
      .tab-content{
        .read-methods {
            .input-label {
              top: -50px;
              right: unset;
              left: 0;
              border-radius: 5rem;
            }
          }
      }
    }
  }
}
